.pc1 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
  top: 20%;
  left: 91%;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.pc1 {
  top: 20%;
  left: 98%;
}

.iconFixe {
  width: 1.8vw;
}
