.clickableZone {
  position: absolute;
  display: block;
  transition: 0.2s background-color;
  &:hover {
    background-color: rgba($color: lightgray, $alpha: 0.5);
  }
}

.salleRepos {
  top: 0.7%;
  left: 84.9%;
  height: 5.1%;
  width: 13.1%;
}
