.pc1,
.pc2 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
}

.pc1 {
  top: 17%;
  left: 91.5%;
}

.pc2 {
  top: 22%;
  left: 89.5%;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.pc1 {
  top: 17%;
  left: 98.5%;
}

.mouseHover.pc2 {
  top: 22%;
  left: 96.5%;
}

.iconFixe {
  width: 1.8vw;
}
