.imp1,
.imp2,
.imp3 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
}

.imp1 {
  top: 6%;
  left: 67%;
}

.imp2 {
  top: 0.5%;
  left: 43.5%;
}

.imp3 {
  top: 66%;
  left: 6%;
  padding: 0.1%;
  background-color: white;
  border: 1px solid black;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.imp1 {
  top: 6%;
  left: 70%;
}

.mouseHover.imp2 {
  top: 0.5%;
  left: 46.5%;
}

.mouseHover.imp3 {
  top: 66%;
  left: 9.5%;
}

.iconImp {
  width: 1.4vw;
}
