.clickableZone {
  position: absolute;
  display: block;
  transition: 0.2s background-color;
  &:hover {
    background-color: rgba($color: lightgray, $alpha: 0.5);
  }
}

.recepsec {
  top: 0.7%;
  left: 92%;
  height: 8.3%;
  width: 6.1%;
}
