.clickableZone {
  position: absolute;
  display: block;
  transition: 0.2s background-color;
  &:hover {
    background-color: rgba($color: lightgray, $alpha: 0.5);
  }
}

.recepsec {
  top: 0.8%;
  left: 89.7%;
  height: 7.3%;
  width: 8.3%;
}
