.pc1,
.pc2,
.pc3,
.pc4,
.pc5,
.pc6,
.pc7,
.pc8,
.pc9,
.pc10,
.pc11,
.pc12,
.pc13 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
}

.pc1 {
  top: 7%;
  left: 44.3%;
}

.pc2 {
  top: 10%;
  left: 44.3%;
}

.pc3 {
  top: 3%;
  left: 40.5%;
}

.pc4 {
  top: 3%;
  left: 37%;
}

.pc5 {
  top: 6%;
  left: 33.5%;
}
.pc6 {
  top: 9%;
  left: 33.5%;
}
.pc7 {
  top: 11%;
  left: 69%;
}
.pc8 {
  top: 2.5%;
  left: 69%;
}
.pc9 {
  top: 2.5%;
  left: 65%;
}
.pc10 {
  top: 40.1%;
  left: 8%;
  padding: 0.2%;
  background-color: white;
  border: 1px solid black;
}
.pc11 {
  top: 40.1%;
  left: 5%;
  padding: 0.2%;
  background-color: white;
  border: 1px solid black;
}
.pc12 {
  top: 43.3%;
  left: 2.2%;
  padding: 0.2%;
  background-color: white;
  border: 1px solid black;
}
.pc13 {
  top: 63.8%;
  left: 4%;
  padding: 0.2%;
  background-color: white;
  border: 1px solid black;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.pc1 {
  top: 7%;
  left: 48%;
}

.mouseHover.pc2 {
  top: 10%;
  left: 48%;
}

.mouseHover.pc3 {
  top: 3%;
  left: 43.5%;
}

.mouseHover.pc4 {
  top: 3%;
  left: 40%;
}
.mouseHover.pc5 {
  top: 6%;
  left: 36.5%;
}
.mouseHover.pc6 {
  top: 9%;
  left: 36.5%;
}
.mouseHover.pc7 {
  top: 11%;
  left: 72%;
}
.mouseHover.pc8 {
  top: 2.5%;
  left: 72%;
}
.mouseHover.pc9 {
  top: 2.5%;
  left: 68%;
}
.mouseHover.pc10 {
  top: 40.1%;
  left: 11%;
}
.mouseHover.pc11 {
  top: 40.1%;
  left: 8%;
}
.mouseHover.pc12 {
  top: 43.3%;
  left: 5.2%;
}
.mouseHover.pc13 {
  top: 63.8%;
  left: 7%;
}

.iconPort {
  width: clamp(0px, 1vw, 19.2px);
}
.iconFixe {
  width: clamp(0px, 1.4vw, 26.88px);
}
