.pc1,
.pc2,
.pc3 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
}

.pc1 {
  top: 40%;
  left: 4.5%;
}

.pc2 {
  top: 9%;
  left: 76%;
}

.pc3 {
  top: 70%;
  left: 78.7%;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.pc1 {
  top: 40%;
  left: 14.5%;
}

.mouseHover.pc2 {
  top: 9%;
  left: 86%;
}

.mouseHover.pc3 {
  top: 70%;
  left: 88.7%;
}

.iconFixe {
  width: clamp(0px, 1.8vw, 1000px);
}
