.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  transition: 0.4s background-color;
  &:hover {
    opacity: 0.8;
    background-color: var(--primary);
    color: var(--gray-1);
    border: 2px solid var(--primary);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--gray-1);
  border: 2px solid var(--primary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: var(--gray-1);
}

.card {
  border-radius: 20px;
  background-color: #4d5f69;
}
