:root {
  --primary: #e10600;
  --gray-1: #1b1b1b;
  --gray-2: #f7f7f7;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: 0px 2px 30px black;
  --text-color: #6c6c6c;
}
