.pc1,
.pc2,
.pc3,
.pc4 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
}

.pc1 {
  top: 7%;
  left: 79%;
}

.pc2 {
  top: 36%;
  left: 68%;
}

.pc3 {
  top: 60%;
  left: 68%;
}
.pc4 {
  top: 86.3%;
  left: 70%;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.pc1 {
  top: 7%;
  left: 89%;
}

.mouseHover.pc2 {
  top: 36%;
  left: 78%;
}

.mouseHover.pc3 {
  top: 60%;
  left: 78%;
}
.mouseHover.pc4 {
  top: 86%;
  left: 80%;
}

.iconPort {
  width: 1.6vw;
}
