.imp1 {
  position: absolute;
  font-size: clamp(0px, 1vw, 24px);
  top: 37%;
  left: 2%;
}

/* Tooltip styling */
.mouseHover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.mouseHover.imp1 {
  top: 37%;
  left: 12%;
}

.iconImp {
  width: 1.8vw;
}
